<div class="container">
    <h1> SIGNUP </h1>
    <h2>{{signup_error}}</h2>
    <label for="username">Username:</label>
    <form method="post" action="/signup">
        <input type="text" id="username" name="username" required>
        <button type="submit">Signup</button>
    </form>
</div>

