<div class="topcorner">
    <form method="post" action="/gohome">
        <button type="submit">Home</button>
    </form>
</div>

<style>
    .topcorner{
        position:absolute;
        top:2%;
        right:2%;
    }
</style>