<div class="post-view">
    {{#post}}
    <h2>{{GroupName}}</h2>
    <h3>{{Title}}</h3>
    <h4>{{Username}}, {{Date}}</h4>
    <p>{{Content}}</p>
    <form method="post" action="join">
        <button type="submit">Like</button>
    </form>
    {{/post}}
</div>